@import 'color.less';
@import 'transition/index.less';
@import 'var/index.less';
@import 'map.less';
@import 'fonts/iconfont.less';
@import 'theme.less';

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: visible;
  border-left: 1px solid #DDD;
}

@default-layout-main-cls: ~'@{namespace}-default-layout-main';


html .@{default-layout-main-cls} {
  font-family: JetBrainsMono;
}

.menu {
  position: relative;
}

.right-top-menu-item {
  padding: 0 24px;
  background-color:@component-background;
  font-size: 14px;
  color: @text-color-base;
  transition: color .3s ease-in-out,background-color .3s ease-in-out;
  line-height: 36px;
  cursor: pointer;
  border-bottom: 1px solid @border-color-base;
}


.right-top-menu-item:hover {
  border-bottom: 1px solid @link-active-color;
}
