#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-container.leaflet-container {
  background: #fff;
}

.leaflet-popup-content {
  font-weight: bold;
}

.leaflet-tooltip.centerPoint {
  color: #389e0d;
  font-weight: bold;
}

.leaflet-tooltip.basePoint {
  color: #cf1322;
  font-weight: bold;
}

.leaflet-marker-icon.point {
  border: 1px solid #262626;
  border-radius: 50%;
  background-color: #fff;
}

.leaflet-marker-icon.point img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

.cg-labels {
  min-width: 60px;
  margin: 0 auto;
  padding: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #262626;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

text textPath {
  transition: opacity 100ms linear;
  // fill: #333;
  font-size: 12px;
  font-weight: bold;
  // dominant-baseline: middle;
  // text-anchor: middle;
  text-shadow: #000 1.5px 0 0,
    #000 0 1.5px 0,
    #000 -1.5px 0 0,
    #000 0 -1.5px 0;
  // pointer-events: all;
}

text textPath.label {
  transition: opacity 100ms linear;
  // fill: #333;
  font-size: 12px;
  font-weight: bold;
  // dominant-baseline: middle;
  // text-anchor: middle;
  text-shadow: #fff 1.5px 0 0,
    #fff 0 1.5px 0,
    #fff -1.5px 0 0,
    #fff 0 -1.5px 0;
  // pointer-events: all;
}
