#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-container.leaflet-container {
  background: #fff;
}

.leaflet-popup-content {
  font-weight: bold;
}

.leaflet-tooltip.centerPoint {
  color: #389e0d;
  font-weight: bold;
}

.leaflet-tooltip.basePoint {
  color: #cf1322;
  font-weight: bold;
}
